.editForm {
  position: relative;
  left: 33rem;
  padding-top: 8rem;
  margin: auto;
}

.submitButton {
  height: 2.7rem;
  width: 21.3rem;
  background: darkblue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .editForm {
    position: relative;
    left: 3rem;
    padding-top: 8rem;
    margin: auto;
  }
  .editInput {
    height: 4rem;
    font-size: 1.5;
  }
  .submitButton {
    height: 4rem;
    width: 21.3rem;
    background: darkblue;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
  }
}
