form {
  position: relative;
  right: 30rem;
  top: 2rem;
}
input {
  width: 20rem;
  height: 2rem;
  font-size: 1rem;
  padding-left: 1rem;
}
.button {
  width: 20rem;
  height: 3rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(4, 122, 34);
  color: aliceblue;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  form {
    position: relative;
    left: 1.4rem;
    top: 2rem;
  }
}
