.login_Formsss {
  position: relative;
  left: 9rem;
}
.headers {
  color: black;
  text-align: center;
  padding-top: 4rem;
  font-weight: bolder;
}
.backgrounds {
  width: 40rem;
  height: 30rem;
  background-color: silver;
  position: relative;
  left: 26rem;
  top: 7rem;
}
#inputs {
  margin-bottom: 2rem;
}
#signInButtons {
  height: 2.7rem;
  width: 21.3rem;
  background-color: darkblue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  right: 0.1rem;
  margin-bottom: 0.5rem;
}
#googleButtons {
  height: 2.7rem;
  width: 21.3rem;
  background-color: crimson;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  right: 0.1rem;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .backgrounds {
    width: 9rem;
    height: 10rem;
    background-color: whitesmoke;
    position: relative;
    left: 0.5rem;
    top: 7rem;
  }
  .login_Formsss {
    position: relative;
    left: 0.1rem;
  }
  #inputs {
    margin-bottom: 2rem;
    width: 19.5rem;
    height: 3rem;
  }
  #signInButtons {
    width: 21.2rem;
    height: 4rem;
    background-color: darkblue;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    right: 0.1rem;
    margin-bottom: 0.5rem;
  }
  #googleButtons {
    width: 21.2rem;
    height: 4rem;
    background-color: crimson;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    right: 0.1rem;
  }
}
