.registration_Form {
  position: relative;
  left: 5rem;
}
.header {
  color: black;
  text-align: center;
  padding-top: 4rem;
}
.backgroundsxx {
  width: 40rem;
  height: 30rem;
  background-color: silver;
  position: relative;
  left: 26rem;
  top: 7rem;
}

#inputsx {
  position: relative;
  left: 4rem;
  margin-bottom: 2rem;
}
#signInButtonsx {
  height: 2.7rem;
  width: 21.3rem;
  background-color: darkblue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  left: 4rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}
#googleButtonsx {
  height: 2.7rem;
  width: 21.3rem;
  background-color: crimson;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  left: 4rem;
  outline: none;
  border: none;
  cursor: pointer;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .registration_Form {
    position: relative;
    left: -3rem;
  }
  .header {
    font-size: 2rem;
    font-weight: bolder;
    position: relative;
    left: 2rem;
  }
  #back {
    position: relative;
    height: 0rem;
    width: 0rem;
    background-color: none;
    left: -0.3rem;
  }

  #inputsx {
    width: 20.5rem;
    height: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    position: relative;
    right: 2rem;
  }
  #signInButtonsx {
    width: 21.9rem;
    height: 3rem;
    background-color: darkblue;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    position: relative;
    right: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
  }
  #googleButtonsx {
    width: 21.9rem;
    height: 4rem;
    background-color: crimson;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    right: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
