.registration_Form {
  position: relative;
  left: 5rem;
}
.header {
  color: black;
  text-align: center;
  padding-top: 4rem;
}
.backgroundss {
  width: 40rem;
  height: 30rem;
  background-color: silver;
  position: relative;
  left: 26rem;
  top: 7rem;
}

#inputss {
  position: relative;
  left: 4rem;
  margin-bottom: 2rem;
}
#signInButtonsx {
  height: 2.7rem;
  width: 21.3rem;
  background-color: darkblue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  left: 4rem;
  margin-bottom: 0.5rem;
}
#googleButtonsx {
  height: 2.7rem;
  width: 21.3rem;
  background-color: crimson;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  left: 4rem;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header {
    font-size: 1rem;
    font-weight: bolder;
    position: relative;
    right: 2rem;
  }
  .registration_Form {
    position: relative;
    left: 1rem;
  }
  .backgroundss {
    width: 52rem;
    height: 40rem;
    background-color: whitesmoke;
    position: relative;
    left: 0.9rem;
    top: 20rem;
  }
  .inputsx {
    width: 20.5rem;
    height: 3rem;
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  .signInButtonsx {
    width: 20.5rem;
    height: 3rem;
    background-color: darkblue;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    position: relative;
    left: 1rem;
  }
  .googleButtonsx {
    width: 20.5rem;
    height: 3rem;
    background-color: crimson;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    left: 1rem;
  }
}
