.userInfo {
  position: relative;
  bottom: 12rem;
  left: 18rem;
}
.buttons {
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  border: none;
  font-size: 0.8rem;
  color: white;
  font-weight: 500;
}
#removeUser {
  background-color: crimson;
}
#editUser {
  background-color: blue;
}
#link {
  color: white;
  text-decoration: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .userInfo {
    position: relative;
    top: 6rem;
    left: 1rem;
  }
}
