.App {
  text-align: center;
}

.App-header {
  background-color: blue;
  min-height: 100vh;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.logoutButton {
  background-color: crimson;
  text-decoration: none;
  outline: none;
  border: none;
  width: 25rem;
  height: 4rem;
  color: white;
  font-size: 1.7rem;
  font-weight: bolder;
  position: relative;
  left: 18rem;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .logoutButton {
    background-color: crimson;
    text-decoration: none;
    outline: none;
    border: none;
    width: 24.8rem;
    height: 4rem;
    color: white;
    font-size: 1.7rem;
    font-weight: bolder;
  }
}
